<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
      crossorigin="anonymous"
    />
    <div style="text-align: center;">
      <h1 class="display-3"><strong>Welcome to Return Haus</strong></h1>
      <a href="localhost:3000">Home</a>
      <p class="lead">
        Search for any security. Equity or otherwise 💸
      </p>
      <hr class="my-4" />
    </div>
  </head>

  <body>
    <div class="jumbotron">
      <form class="form-inline my-2 my-lg-0" method="GET" action="/equities">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          id="search"
          name="search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <p class="text-primary">Search Stocks...</p>
      <form method="GET" action="/forex">
        <div class="form-group">
          <select class="custom-select" name="forex1">
            <option selected="">Select First Currency</option>
            <option value="AED">AED</option>
            <option value="AFN">AFN</option>
            <option value="ALL">ALL</option>
            <option value="AMD">AMD</option>
            <option value="ANG">ANG</option>
            <option value="AOA">AOA</option>
            <option value="ARS">ARS</option>
            <option value="AUD">AUD</option>
            <option value="AWG">AWG</option>
            <option value="AZN">AZN</option>
            <option value="BAM">BAM</option>
            <option value="BBD">BBD</option>
            <option value="BDT">BDT</option>
            <option value="BGN">BGN</option>
            <option value="BHD">BHD</option>
            <option value="BIF">BIF</option>
            <option value="BMD">BMD</option>
            <option value="BND">BND</option>
            <option value="BOB">BOB</option>
            <option value="BRL">BRL</option>
            <option value="BSD">BSD</option>
            <option value="BTN">BTN</option>
            <option value="BWP">BWP</option>
            <option value="BZD">BZD</option>
            <option value="CAD">CAD</option>
            <option value="CDF">CDF</option>
            <option value="CHF">CHF</option>
            <option value="CLF">CLF</option>
            <option value="CLP">CLP</option>
            <option value="CNH">CNH</option>
            <option value="CNY">CNY</option>
            <option value="COP">COP</option>
            <option value="CUP">CUP</option>
            <option value="CVE">CVE</option>
            <option value="CZK">CZK</option>
            <option value="DJF">DJF</option>
            <option value="DKK">DKK</option>
            <option value="DOP">DOP</option>
            <option value="DZD">DZD</option>
            <option value="EGP">EGP</option>
            <option value="ERN">ERN</option>
            <option value="ETB">ETB</option>
            <option value="EUR">EUR</option>
            <option value="FJD">FJD</option>
            <option value="FKP">FKP</option>
            <option value="GBP">GBP</option>
            <option value="GEL">GEL</option>
            <option value="GHS">GHS</option>
            <option value="GIP">GIP</option>
            <option value="GMD">GMD</option>
            <option value="GNF">GNF</option>
            <option value="GTQ">GTQ</option>
            <option value="GYD">GYD</option>
            <option value="HKD">HKD</option>
            <option value="HNL">HNL</option>
            <option value="HRK">HRK</option>
            <option value="HTG">HTG</option>
            <option value="HUF">HUF</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="IQD">IQD</option>
            <option value="IRR">IRR</option>
            <option value="ISK">ISK</option>
            <option value="JEP">JEP</option>
            <option value="JMD">JMD</option>
            <option value="JOD">JOD</option>
            <option value="JPY">JPY</option>
            <option value="KES">KES</option>
            <option value="KGS">KGS</option>
            <option value="KHR">KHR</option>
            <option value="KMF">KMF</option>
            <option value="KPW">KPW</option>
            <option value="KRW">KRW</option>
            <option value="KWD">KWD</option>
            <option value="KYD">KYD</option>
            <option value="KZT">KZT</option>
            <option value="LAK">LAK</option>
            <option value="LBP">LBP</option>
            <option value="LKR">LKR</option>
            <option value="LRD">LRD</option>
            <option value="LSL">LSL</option>
            <option value="LYD">LYD</option>
            <option value="MAD">MAD</option>
            <option value="MDL">MDL</option>
            <option value="MGA">MGA</option>
            <option value="MKD">MKD</option>
            <option value="MMK">MMK</option>
            <option value="MNT">MNT</option>
            <option value="MOP">MOP</option>
            <option value="MRO">MRO</option>
            <option value="MRU">MRU</option>
            <option value="MUR">MUR</option>
            <option value="MVR">MVR</option>
            <option value="MWK">MWK</option>
            <option value="MXN">MXN</option>
            <option value="MYR">MYR</option>
            <option value="MZN">MZN</option>
            <option value="NAD">NAD</option>
            <option value="NGN">NGN</option>
            <option value="NOK">NOK</option>
            <option value="NPR">NPR</option>
            <option value="NZD">NZD</option>
            <option value="OMR">OMR</option>
            <option value="PAB">PAB</option>
            <option value="PEN">PEN</option>
            <option value="PGK">PGK</option>
            <option value="PHP">PHP</option>
            <option value="PKR">PKR</option>
            <option value="PLN">PLN</option>
            <option value="PYG">PYG</option>
            <option value="QAR">QAR</option>
            <option value="RON">RON</option>
            <option value="RSD">RSD</option>
            <option value="RUB">RUB</option>
            <option value="RUR">RUR</option>
            <option value="RWF">RWF</option>
            <option value="SAR">SAR</option>
            <option value="SBDf">SBDf</option>
            <option value="SCR">SCR</option>
            <option value="SDG">SDG</option>
            <option value="SEK">SEK</option>
            <option value="SGD">SGD</option>
            <option value="SHP">SHP</option>
            <option value="SLL">SLL</option>
            <option value="SOS">SOS</option>
            <option value="SRD">SRD</option>
            <option value="SYP">SYP</option>
            <option value="SZL">SZL</option>
            <option value="THB">THB</option>
            <option value="TJS">TJS</option>
            <option value="TMT">TMT</option>
            <option value="TND">TND</option>
            <option value="TOP">TOP</option>
            <option value="TRY">TRY</option>
            <option value="TTD">TTD</option>
            <option value="TWD">TWD</option>
            <option value="TZS">TZS</option>
            <option value="UAH">UAH</option>
            <option value="UGX">UGX</option>
            <option value="USD">USD</option>
            <option value="UYU">UYU</option>
            <option value="UZS">UZS</option>
            <option value="VND">VND</option>
            <option value="VUV">VUV</option>
            <option value="WST">WST</option>
            <option value="XAF">XAF</option>
            <option value="XAG">XAG</option>
            <option value="XAU">XAU</option>
            <option value="XCD">XCD</option>
            <option value="XDR">XDR</option>
            <option value="XOF">XOF</option>
            <option value="XPF">XPF</option>
            <option value="YER">YER</option>
            <option value="ZAR">ZAR</option>
            <option value="ZMW">ZMW</option>
            <option value="ZWL">ZWL</option>
          </select>
          <select class="custom-select" name="forex2">
            <option selected="">Select Second Currency</option>
            <option value="AED">AED</option>
            <option value="AFN">AFN</option>
            <option value="ALL">ALL</option>
            <option value="AMD">AMD</option>
            <option value="ANG">ANG</option>
            <option value="AOA">AOA</option>
            <option value="ARS">ARS</option>
            <option value="AUD">AUD</option>
            <option value="AWG">AWG</option>
            <option value="AZN">AZN</option>
            <option value="BAM">BAM</option>
            <option value="BBD">BBD</option>
            <option value="BDT">BDT</option>
            <option value="BGN">BGN</option>
            <option value="BHD">BHD</option>
            <option value="BIF">BIF</option>
            <option value="BMD">BMD</option>
            <option value="BND">BND</option>
            <option value="BOB">BOB</option>
            <option value="BRL">BRL</option>
            <option value="BSD">BSD</option>
            <option value="BTN">BTN</option>
            <option value="BWP">BWP</option>
            <option value="BZD">BZD</option>
            <option value="CAD">CAD</option>
            <option value="CDF">CDF</option>
            <option value="CHF">CHF</option>
            <option value="CLF">CLF</option>
            <option value="CLP">CLP</option>
            <option value="CNH">CNH</option>
            <option value="CNY">CNY</option>
            <option value="COP">COP</option>
            <option value="CUP">CUP</option>
            <option value="CVE">CVE</option>
            <option value="CZK">CZK</option>
            <option value="DJF">DJF</option>
            <option value="DKK">DKK</option>
            <option value="DOP">DOP</option>
            <option value="DZD">DZD</option>
            <option value="EGP">EGP</option>
            <option value="ERN">ERN</option>
            <option value="ETB">ETB</option>
            <option value="EUR">EUR</option>
            <option value="FJD">FJD</option>
            <option value="FKP">FKP</option>
            <option value="GBP">GBP</option>
            <option value="GEL">GEL</option>
            <option value="GHS">GHS</option>
            <option value="GIP">GIP</option>
            <option value="GMD">GMD</option>
            <option value="GNF">GNF</option>
            <option value="GTQ">GTQ</option>
            <option value="GYD">GYD</option>
            <option value="HKD">HKD</option>
            <option value="HNL">HNL</option>
            <option value="HRK">HRK</option>
            <option value="HTG">HTG</option>
            <option value="HUF">HUF</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="IQD">IQD</option>
            <option value="IRR">IRR</option>
            <option value="ISK">ISK</option>
            <option value="JEP">JEP</option>
            <option value="JMD">JMD</option>
            <option value="JOD">JOD</option>
            <option value="JPY">JPY</option>
            <option value="KES">KES</option>
            <option value="KGS">KGS</option>
            <option value="KHR">KHR</option>
            <option value="KMF">KMF</option>
            <option value="KPW">KPW</option>
            <option value="KRW">KRW</option>
            <option value="KWD">KWD</option>
            <option value="KYD">KYD</option>
            <option value="KZT">KZT</option>
            <option value="LAK">LAK</option>
            <option value="LBP">LBP</option>
            <option value="LKR">LKR</option>
            <option value="LRD">LRD</option>
            <option value="LSL">LSL</option>
            <option value="LYD">LYD</option>
            <option value="MAD">MAD</option>
            <option value="MDL">MDL</option>
            <option value="MGA">MGA</option>
            <option value="MKD">MKD</option>
            <option value="MMK">MMK</option>
            <option value="MNT">MNT</option>
            <option value="MOP">MOP</option>
            <option value="MRO">MRO</option>
            <option value="MRU">MRU</option>
            <option value="MUR">MUR</option>
            <option value="MVR">MVR</option>
            <option value="MWK">MWK</option>
            <option value="MXN">MXN</option>
            <option value="MYR">MYR</option>
            <option value="MZN">MZN</option>
            <option value="NAD">NAD</option>
            <option value="NGN">NGN</option>
            <option value="NOK">NOK</option>
            <option value="NPR">NPR</option>
            <option value="NZD">NZD</option>
            <option value="OMR">OMR</option>
            <option value="PAB">PAB</option>
            <option value="PEN">PEN</option>
            <option value="PGK">PGK</option>
            <option value="PHP">PHP</option>
            <option value="PKR">PKR</option>
            <option value="PLN">PLN</option>
            <option value="PYG">PYG</option>
            <option value="QAR">QAR</option>
            <option value="RON">RON</option>
            <option value="RSD">RSD</option>
            <option value="RUB">RUB</option>
            <option value="RUR">RUR</option>
            <option value="RWF">RWF</option>
            <option value="SAR">SAR</option>
            <option value="SBDf">SBDf</option>
            <option value="SCR">SCR</option>
            <option value="SDG">SDG</option>
            <option value="SEK">SEK</option>
            <option value="SGD">SGD</option>
            <option value="SHP">SHP</option>
            <option value="SLL">SLL</option>
            <option value="SOS">SOS</option>
            <option value="SRD">SRD</option>
            <option value="SYP">SYP</option>
            <option value="SZL">SZL</option>
            <option value="THB">THB</option>
            <option value="TJS">TJS</option>
            <option value="TMT">TMT</option>
            <option value="TND">TND</option>
            <option value="TOP">TOP</option>
            <option value="TRY">TRY</option>
            <option value="TTD">TTD</option>
            <option value="TWD">TWD</option>
            <option value="TZS">TZS</option>
            <option value="UAH">UAH</option>
            <option value="UGX">UGX</option>
            <option value="USD">USD</option>
            <option value="UYU">UYU</option>
            <option value="UZS">UZS</option>
            <option value="VND">VND</option>
            <option value="VUV">VUV</option>
            <option value="WST">WST</option>
            <option value="XAF">XAF</option>
            <option value="XAG">XAG</option>
            <option value="XAU">XAU</option>
            <option value="XCD">XCD</option>
            <option value="XDR">XDR</option>
            <option value="XOF">XOF</option>
            <option value="XPF">XPF</option>
            <option value="YER">YER</option>
            <option value="ZAR">ZAR</option>
            <option value="ZMW">ZMW</option>
            <option value="ZWL">ZWL</option>
          </select>
          <input type="submit" />
        </div>
      </form>
      <p class="text-primary">Search FOREX Rates...</p>
      <form method="GET" action="/crypto">
        <div class="form-group">
          <select class="custom-select" name="crypto">
            <option selected="">Select Crypto</option>
            <option value="1ST">1ST FirstBlood</option>
            <option value="2GIVE">2GIVE GiveCoin</option>
            <option value="808">808 808Coin</option>
            <option value="ABT">ABT ArcBlock</option>
            <option value="ABY">ABY ArtByte</option>
            <option value="AC">AC AsiaCoin</option>
            <option value="ACT">ACT Achain</option>
            <option value="ADA">ADA Cardano</option>
            <option value="ADT">ADT adToken</option>
            <option value="ADX">ADX AdEx</option>
            <option value="AE">AE Aeternity</option>
            <option value="AEON">AEON Aeon</option>
            <option value="AGI">AGI SingularityNET</option>
            <option value="AGRS">AGRS IDNI-Agoras</option>
            <option value="AI">AI POLY-AI</option>
            <option value="AID">AID AidCoin</option>
            <option value="AION">AION Aion</option>
            <option value="AIR">AIR AirToken</option>
            <option value="AKY">AKY Akuya-Coin</option>
            <option value="ALIS">ALIS ALIS</option>
            <option value="AMBER">AMBER AmberCoin</option>
            <option value="AMP">AMP Synereo</option>
            <option value="AMPL">AMPL Ampleforth</option>
            <option value="ANC">ANC Anoncoin</option>
            <option value="ANT">ANT Aragon</option>
            <option value="APPC">APPC AppCoins</option>
            <option value="APX">APX APX-Ventures</option>
            <option value="ARDR">ARDR Ardor</option>
            <option value="ARK">ARK Ark</option>
            <option value="ARN">ARN Aeron</option>
            <option value="AST">AST AirSwap</option>
            <option value="ATB">ATB ATBCoin</option>
            <option value="ATM">ATM ATMChain</option>
            <option value="ATS">ATS Authorship</option>
            <option value="AUR">AUR Auroracoin</option>
            <option value="AVT">AVT Aventus</option>
            <option value="B3">B3 B3Coin</option>
            <option value="BAT">BAT Basic-Attention-Token</option>
            <option value="BAY">BAY BitBay</option>
            <option value="BBR">BBR Boolberry</option>
            <option value="BCAP">BCAP BCAP</option>
            <option value="BCC">BCC BitConnect</option>
            <option value="BCD">BCD Bitcoin-Diamond</option>
            <option value="BCH">BCH Bitcoin-Cash</option>
            <option value="BCN">BCN Bytecoin</option>
            <option value="BCPT">BCPT BlockMason-Credit-Protocol-Token</option>
            <option value="BCX">BCX BitcoinX</option>
            <option value="BCY">BCY BitCrystals</option>
            <option value="BDL">BDL Bitdeal</option>
            <option value="BEE">BEE Bee-Token</option>
            <option value="BELA">BELA BelaCoin</option>
            <option value="BET">BET DAO-Casino</option>
            <option value="BFT">BFT BF-Token</option>
            <option value="BIS">BIS Bismuth</option>
            <option value="BITB">BITB BitBean</option>
            <option value="BITBTC">BITBTC BitBTC</option>
            <option value="BITCNY">BITCNY BitCNY</option>
            <option value="BITEUR">BITEUR BitEUR</option>
            <option value="BITGOLD">BITGOLD BitGOLD</option>
            <option value="BITSILVER">BITSILVER BitSILVER</option>
            <option value="BITUSD">BITUSD BitUSD</option>
            <option value="BIX">BIX Bibox-Token</option>
            <option value="BLITZ">BLITZ Blitzcash</option>
            <option value="BLK">BLK Blackcoin</option>
            <option value="BLN">BLN Bolenum</option>
            <option value="BLOCK">BLOCK Blocknet</option>
            <option value="BLZ">BLZ Bluzelle</option>
            <option value="BMC">BMC Blackmoon-Crypto</option>
            <option value="BNB">BNB Binance-Coin</option>
            <option value="BNT">BNT Bancor-Network-Token</option>
            <option value="BNTY">BNTY Bounty0x</option>
            <option value="BOST">BOST BoostCoin</option>
            <option value="BOT">BOT Bodhi</option>
            <option value="BQ">BQ bitqy</option>
            <option value="BRD">BRD Bread</option>
            <option value="BRK">BRK Breakout-Coin</option>
            <option value="BRX">BRX Breakout-Stake</option>
            <option value="BTA">BTA Bata</option>
            <option value="BTC">BTC Bitcoin</option>
            <option value="BTCD">BTCD BitcoinDark</option>
            <option value="BTCP">BTCP Bitcoin-Private</option>
            <option value="BTG">BTG Bitcoin-Gold</option>
            <option value="BTM">BTM Bitmark</option>
            <option value="BTS">BTS BitShares</option>
            <option value="BTSR">BTSR BTSR</option>
            <option value="BTX">BTX Bitcore</option>
            <option value="BURST">BURST Burstcoin</option>
            <option value="BUSD">BUSD Binance-USD</option>
            <option value="BUZZ">BUZZ BuzzCoin</option>
            <option value="BYC">BYC Bytecent</option>
            <option value="BYTOM">BYTOM Bytom</option>
            <option value="C20">C20 Crypto20</option>
            <option value="CANN">CANN CannabisCoin</option>
            <option value="CAT">CAT BlockCAT</option>
            <option value="CCRB">CCRB CryptoCarbon</option>
            <option value="CDT">CDT Blox</option>
            <option value="CFI">CFI Cofound-it</option>
            <option value="CHAT">CHAT ChatCoin</option>
            <option value="CHIPS">CHIPS Chips</option>
            <option value="CLAM">CLAM Clams</option>
            <option value="CLOAK">CLOAK CloakCoin</option>
            <option value="CMP">CMP Compcoin</option>
            <option value="CMT">CMT CyberMiles</option>
            <option value="CND">CND Cindicator</option>
            <option value="CNX">CNX Cryptonex</option>
            <option value="COFI">COFI CoinFi</option>
            <option value="COSS">COSS COSS</option>
            <option value="COVAL">COVAL Circuits-Of-Value</option>
            <option value="CRBIT">CRBIT CreditBIT</option>
            <option value="CREA">CREA CreativeCoin</option>
            <option value="CREDO">CREDO Credo</option>
            <option value="CRW">CRW Crown</option>
            <option value="CSNO">CSNO BitDice</option>
            <option value="CTR">CTR Centra</option>
            <option value="CTXC">CTXC Cortex</option>
            <option value="CURE">CURE CureCoin</option>
            <option value="CVC">CVC Civic</option>
            <option value="DAI">DAI Dai</option>
            <option value="DAR">DAR Darcrus</option>
            <option value="DASH">DASH Dash</option>
            <option value="DATA">DATA DATAcoin</option>
            <option value="DAY">DAY Chronologic</option>
            <option value="DBC">DBC DeepBrain-Chain</option>
            <option value="DBIX">DBIX DubaiCoin</option>
            <option value="DCN">DCN Dentacoin</option>
            <option value="DCR">DCR Decred</option>
            <option value="DCT">DCT DECENT</option>
            <option value="DDF">DDF Digital-Developers-Fund</option>
            <option value="DENT">DENT Dent</option>
            <option value="DFS">DFS DFSCoin</option>
            <option value="DGB">DGB DigiByte</option>
            <option value="DGC">DGC Digitalcoin</option>
            <option value="DGD">DGD DigixDAO</option>
            <option value="DICE">DICE Etheroll</option>
            <option value="DLT">DLT Agrello-Delta</option>
            <option value="DMD">DMD Diamond</option>
            <option value="DMT">DMT DMarket</option>
            <option value="DNT">DNT district0x</option>
            <option value="DOGE">DOGE DogeCoin</option>
            <option value="DOPE">DOPE DopeCoin</option>
            <option value="DRGN">DRGN Dragonchain</option>
            <option value="DTA">DTA Data</option>
            <option value="DTB">DTB Databits</option>
            <option value="DYN">DYN Dynamic</option>
            <option value="EAC">EAC EarthCoin</option>
            <option value="EBST">EBST eBoost</option>
            <option value="EBTC">EBTC eBTC</option>
            <option value="ECC">ECC ECC</option>
            <option value="ECN">ECN E-coin</option>
            <option value="EDG">EDG Edgeless</option>
            <option value="EDO">EDO Eidoo</option>
            <option value="EFL">EFL Electronic-Gulden</option>
            <option value="EGC">EGC EverGreenCoin</option>
            <option value="EKT">EKT EDUCare</option>
            <option value="ELA">ELA Elastos</option>
            <option value="ELEC">ELEC Electrify.Asia</option>
            <option value="ELF">ELF aelf</option>
            <option value="ELIX">ELIX Elixir</option>
            <option value="EMB">EMB Embercoin</option>
            <option value="EMC">EMC Emercoin</option>
            <option value="EMC2">EMC2 Einsteinium</option>
            <option value="ENG">ENG Enigma</option>
            <option value="ENJ">ENJ Enjin-Coin</option>
            <option value="ENRG">ENRG EnergyCoin</option>
            <option value="EOS">EOS EOS</option>
            <option value="EOT">EOT EOT-Token</option>
            <option value="EQT">EQT EquiTrader</option>
            <option value="ERC">ERC EuropeCoin</option>
            <option value="ETC">ETC Ethereum-Classic</option>
            <option value="ETH">ETH Ethereum</option>
            <option value="ETHD">ETHD Ethereum-Dark</option>
            <option value="ETHOS">ETHOS Ethos</option>
            <option value="ETN">ETN Electroneum</option>
            <option value="ETP">ETP Metaverse-Entropy</option>
            <option value="ETT">ETT EncryptoTel</option>
            <option value="EVE">EVE Devery</option>
            <option value="EVX">EVX Everex</option>
            <option value="EXCL">EXCL ExclusiveCoin</option>
            <option value="EXP">EXP Expanse</option>
            <option value="FCT">FCT Factom</option>
            <option value="FLDC">FLDC FoldingCoin</option>
            <option value="FLO">FLO FlorinCoin</option>
            <option value="FLT">FLT FlutterCoin</option>
            <option value="FRST">FRST FirstCoin</option>
            <option value="FTC">FTC Feathercoin</option>
            <option value="FUEL">FUEL Etherparty</option>
            <option value="FUN">FUN FunFair</option>
            <option value="GAM">GAM Gambit</option>
            <option value="GAME">GAME GameCredits</option>
            <option value="GAS">GAS Gas</option>
            <option value="GBG">GBG Golos Gold</option>
            <option value="GBX">GBX GoByte</option>
            <option value="GBYTE">GBYTE Byteball</option>
            <option value="GCR">GCR GCRCoin</option>
            <option value="GEO">GEO GeoCoin</option>
            <option value="GLD">GLD GoldCoin</option>
            <option value="GNO">GNO Gnosis-Token</option>
            <option value="GNT">GNT Golem-Tokens</option>
            <option value="GOLOS">GOLOS Golos</option>
            <option value="GRC">GRC Gridcoin</option>
            <option value="GRS">GRS Groestlcoin</option>
            <option value="GRWI">GRWI Growers-International</option>
            <option value="GTC">GTC Game</option>
            <option value="GTO">GTO Gifto</option>
            <option value="GUP">GUP Guppy</option>
            <option value="GVT">GVT Genesis-Vision</option>
            <option value="GXS">GXS GXShares</option>
            <option value="HBN">HBN HoboNickels</option>
            <option value="HEAT">HEAT HEAT</option>
            <option value="HMQ">HMQ Humaniq</option>
            <option value="HPB">HPB High-Performance-Blockchain</option>
            <option value="HSR">HSR Hshare</option>
            <option value="HUSH">HUSH Hush</option>
            <option value="HVN">HVN Hive</option>
            <option value="HXX">HXX HexxCoin</option>
            <option value="ICN">ICN ICONOMI</option>
            <option value="ICX">ICX ICON</option>
            <option value="IFC">IFC Infinitecoin</option>
            <option value="IFT">IFT investFeed</option>
            <option value="IGNIS">IGNIS Ignis</option>
            <option value="INCNT">INCNT Incent</option>
            <option value="IND">IND Indorse-Token</option>
            <option value="INF">INF InfChain</option>
            <option value="INK">INK Ink</option>
            <option value="INS">INS INS-Ecosystem</option>
            <option value="INSTAR">INSTAR Insights-Network</option>
            <option value="INT">INT Internet-Node-Token</option>
            <option value="INXT">INXT Internxt</option>
            <option value="IOC">IOC IOCoin</option>
            <option value="ION">ION ION</option>
            <option value="IOP">IOP Internet-of-People</option>
            <option value="IOST">IOST IOStoken</option>
            <option value="IOTA">IOTA IOTA</option>
            <option value="IOTX">IOTX IoTeX</option>
            <option value="IQT">IQT Iquant-Chain</option>
            <option value="ITC">ITC IoT-Chain</option>
            <option value="IXC">IXC iXcoin</option>
            <option value="IXT">IXT InsureX</option>
            <option value="J8T">J8T JET8</option>
            <option value="JNT">JNT Jibrel-Network</option>
            <option value="KCS">KCS KuCoin</option>
            <option value="KICK">KICK KickCoin</option>
            <option value="KIN">KIN KIN</option>
            <option value="KMD">KMD Komodo</option>
            <option value="KNC">KNC Kyber-Network</option>
            <option value="KORE">KORE KoreCoin</option>
            <option value="LBC">LBC LBRY-Credits</option>
            <option value="LCC">LCC Litecoin-Cash</option>
            <option value="LEND">LEND EthLend</option>
            <option value="LEV">LEV Leverj</option>
            <option value="LGD">LGD Legends-Room</option>
            <option value="LINDA">LINDA Linda</option>
            <option value="LINK">LINK ChainLink</option>
            <option value="LKK">LKK Lykke</option>
            <option value="LMC">LMC LoMoCoin</option>
            <option value="LOCI">LOCI LOCIcoin</option>
            <option value="LOOM">LOOM Loom-Token</option>
            <option value="LRC">LRC Loopring</option>
            <option value="LSK">LSK Lisk</option>
            <option value="LTC">LTC Litecoin</option>
            <option value="LUN">LUN Lunyr</option>
            <option value="MAID">MAID MaidSafeCoin</option>
            <option value="MANA">MANA Decentraland</option>
            <option value="MAX">MAX Maxcoin</option>
            <option value="MBRS">MBRS Embers</option>
            <option value="MCAP">MCAP MCAP</option>
            <option value="MCO">MCO Monaco</option>
            <option value="MDA">MDA Moeda-Loyalty-Points</option>
            <option value="MEC">MEC Megacoin</option>
            <option value="MED">MED MediBlock</option>
            <option value="MEME">MEME Memetic</option>
            <option value="MER">MER Mercury</option>
            <option value="MGC">MGC MergeCoin</option>
            <option value="MGO">MGO MobileGo</option>
            <option value="MINEX">MINEX Minex</option>
            <option value="MINT">MINT Mintcoin</option>
            <option value="MITH">MITH Mithril</option>
            <option value="MKR">MKR Maker</option>
            <option value="MLN">MLN Melon</option>
            <option value="MNE">MNE Minereum</option>
            <option value="MNX">MNX MinexCoin</option>
            <option value="MOD">MOD Modum</option>
            <option value="MONA">MONA MonaCoin</option>
            <option value="MRT">MRT Miners-Reward-Token</option>
            <option value="MSP">MSP Mothership</option>
            <option value="MTH">MTH Monetha</option>
            <option value="MTN">MTN MedToken</option>
            <option value="MUE">MUE MonetaryUnit</option>
            <option value="MUSIC">MUSIC Musicoin</option>
            <option value="MYB">MYB MyBit-Token</option>
            <option value="MYST">MYST Mysterium</option>
            <option value="MZC">MZC Mazacoin</option>
            <option value="NAMO">NAMO Namocoin</option>
            <option value="NANO">NANO Nano</option>
            <option value="NAS">NAS Nebulas-Token</option>
            <option value="NAV">NAV Nav-Coin</option>
            <option value="NBT">NBT NuBits</option>
            <option value="NCASH">NCASH Nucleus-Vision</option>
            <option value="NDC">NDC NeverDie-Coin</option>
            <option value="NEBL">NEBL Neblio</option>
            <option value="NEO">NEO NEO</option>
            <option value="NEOS">NEOS NeosCoin</option>
            <option value="NET">NET Nimiq</option>
            <option value="NLC2">NLC2 NoLimitCoin</option>
            <option value="NLG">NLG Gulden</option>
            <option value="NMC">NMC Namecoin</option>
            <option value="NMR">NMR Numeraire</option>
            <option value="NOBL">NOBL NobleCoin</option>
            <option value="NOTE">NOTE DNotes</option>
            <option value="NPXS">NPXS Pundi-X-Token</option>
            <option value="NSR">NSR NuShares</option>
            <option value="NTO">NTO Fujinto</option>
            <option value="NULS">NULS Nuls</option>
            <option value="NVC">NVC Novacoin</option>
            <option value="NXC">NXC Nexium</option>
            <option value="NXS">NXS Nexus</option>
            <option value="NXT">NXT Nxt</option>
            <option value="OAX">OAX openANX</option>
            <option value="OBITS">OBITS Obits</option>
            <option value="OCL">OCL Oceanlab</option>
            <option value="OCN">OCN Odyssey</option>
            <option value="ODEM">ODEM ODEM</option>
            <option value="ODN">ODN Obsidian</option>
            <option value="OF">OF OFCOIN</option>
            <option value="OK">OK OKCash</option>
            <option value="OMG">OMG OmiseGo</option>
            <option value="OMNI">OMNI Omni</option>
            <option value="ONION">ONION DeepOnion</option>
            <option value="ONT">ONT Ontology</option>
            <option value="OPT">OPT Opus</option>
            <option value="OST">OST Simple-Token</option>
            <option value="PART">PART Particl</option>
            <option value="PASC">PASC PascalCoin</option>
            <option value="PAY">PAY TenX</option>
            <option value="PBL">PBL Pebbles</option>
            <option value="PBT">PBT Primalbase-Token</option>
            <option value="PFR">PFR Payfair</option>
            <option value="PING">PING CryptoPing</option>
            <option value="PINK">PINK Pinkcoin</option>
            <option value="PIVX">PIVX PIVX</option>
            <option value="PIX">PIX Lampix</option>
            <option value="PLBT">PLBT Polybius</option>
            <option value="PLR">PLR Pillar</option>
            <option value="PLU">PLU Pluton</option>
            <option value="POA">POA POA-Network</option>
            <option value="POE">POE Poet</option>
            <option value="POLY">POLY Polymath</option>
            <option value="POSW">POSW PoSW-Coin</option>
            <option value="POT">POT PotCoin</option>
            <option value="POWR">POWR Power-Ledger</option>
            <option value="PPC">PPC Peercoin</option>
            <option value="PPT">PPT Populous</option>
            <option value="PPY">PPY Peerplays</option>
            <option value="PRG">PRG Paragon-Coin</option>
            <option value="PRL">PRL Oyster-Pearl</option>
            <option value="PRO">PRO Propy</option>
            <option value="PST">PST Primas</option>
            <option value="PTC">PTC Pesetacoin</option>
            <option value="PTOY">PTOY Patientory</option>
            <option value="PURA">PURA Pura</option>
            <option value="QASH">QASH QASH</option>
            <option value="QAU">QAU Quantum</option>
            <option value="QLC">QLC Qlink</option>
            <option value="QRK">QRK Quark</option>
            <option value="QRL">QRL Quantum-Resistant-Ledger</option>
            <option value="QSP">QSP Quantstamp</option>
            <option value="QTL">QTL Quatloo</option>
            <option value="QTUM">QTUM Qtum</option>
            <option value="QWARK">QWARK Qwark</option>
            <option value="R">R Revain</option>
            <option value="RADS">RADS Radium</option>
            <option value="RAIN">RAIN Condensate</option>
            <option value="RBIES">RBIES Rubies</option>
            <option value="RBX">RBX Ripto-Bux</option>
            <option value="RBY">RBY RubyCoin</option>
            <option value="RCN">RCN Ripio-Credit-Network</option>
            <option value="RDD">RDD ReddCoin</option>
            <option value="RDN">RDN Raiden-Network-Token</option>
            <option value="REC">REC Regalcoin</option>
            <option value="RED">RED Redcoin</option>
            <option value="REP">REP Augur</option>
            <option value="REQ">REQ Request-Network</option>
            <option value="RHOC">RHOC RChain</option>
            <option value="RIC">RIC Riecoin</option>
            <option value="RISE">RISE Rise</option>
            <option value="RLC">RLC RLC-Token</option>
            <option value="RLT">RLT RouletteToken</option>
            <option value="RPX">RPX Red-Pulse</option>
            <option value="RRT">RRT Recovery-Right-Tokens</option>
            <option value="RUFF">RUFF Ruff</option>
            <option value="RUP">RUP Rupee</option>
            <option value="RVT">RVT Rivetz</option>
            <option value="SAFEX">SAFEX SafeExchangeCoin</option>
            <option value="SALT">SALT Salt</option>
            <option value="SAN">SAN Santiment-Network-Token</option>
            <option value="SBD">SBD Steem-Dollars</option>
            <option value="SBTC">SBTC Super-Bitcoin</option>
            <option value="SC">SC Siacoin</option>
            <option value="SEELE">SEELE Seele</option>
            <option value="SEQ">SEQ Sequence</option>
            <option value="SHIFT">SHIFT SHIFT</option>
            <option value="SIB">SIB SIBCoin</option>
            <option value="SIGMA">SIGMA SIGMAcoin</option>
            <option value="SIGT">SIGT Signatum</option>
            <option value="SJCX">SJCX Storjcoin-X</option>
            <option value="SKIN">SKIN SkinCoin</option>
            <option value="SKY">SKY Skycoin</option>
            <option value="SLR">SLR SolarCoin</option>
            <option value="SLS">SLS SaluS</option>
            <option value="SMART">SMART SmartCash</option>
            <option value="SMT">SMT SmartMesh</option>
            <option value="SNC">SNC SunContract</option>
            <option value="SNGLS">SNGLS SingularDTV</option>
            <option value="SNM">SNM SONM</option>
            <option value="SNRG">SNRG Synergy</option>
            <option value="SNT">SNT Status-Network-Token</option>
            <option value="SOC">SOC All-Sports</option>
            <option value="SOUL">SOUL Phantasma</option>
            <option value="SPANK">SPANK SpankChain</option>
            <option value="SPC">SPC SpaceChain</option>
            <option value="SPHR">SPHR Sphere</option>
            <option value="SPR">SPR SpreadCoin</option>
            <option value="SNX">SNX Synthetix-Network-Token</option>
            <option value="SRN">SRN Sirin-Labs-Token</option>
            <option value="START">START Startcoin</option>
            <option value="STEEM">STEEM Steem</option>
            <option value="STK">STK STK-Token</option>
            <option value="STORJ">STORJ Storj</option>
            <option value="STORM">STORM Storm</option>
            <option value="STQ">STQ Storiqa</option>
            <option value="STRAT">STRAT Stratis</option>
            <option value="STX">STX Stox</option>
            <option value="SUB">SUB Substratum</option>
            <option value="SWFTC">SWFTC SwftCoin</option>
            <option value="SWIFT">SWIFT Bitswift</option>
            <option value="SWT">SWT Swarm-City</option>
            <option value="SYNX">SYNX Syndicate</option>
            <option value="SYS">SYS SysCoin</option>
            <option value="TAAS">TAAS Taas</option>
            <option value="TAU">TAU Lamden</option>
            <option value="TCC">TCC The-ChampCoin</option>
            <option value="TFL">TFL True-Flip</option>
            <option value="THC">THC HempCoin</option>
            <option value="THETA">THETA Theta-Token</option>
            <option value="TIME">TIME Time</option>
            <option value="TIX">TIX Blocktix</option>
            <option value="TKN">TKN TokenCard</option>
            <option value="TKR">TKR Trackr</option>
            <option value="TKS">TKS Tokes</option>
            <option value="TNB">TNB Time-New-Bank</option>
            <option value="TNT">TNT Tierion</option>
            <option value="TOA">TOA ToaCoin</option>
            <option value="TRAC">TRAC OriginTrail</option>
            <option value="TRC">TRC Terracoin</option>
            <option value="TRCT">TRCT Tracto</option>
            <option value="TRIG">TRIG Triggers</option>
            <option value="TRST">TRST Trustcoin</option>
            <option value="TRUE">TRUE TrueChain</option>
            <option value="TRUST">TRUST TrustPlus</option>
            <option value="TRX">TRX Tronix</option>
            <option value="TUSD">TUSD TrueUSD</option>
            <option value="TX">TX TransferCoin</option>
            <option value="UBQ">UBQ Ubiq</option>
            <option value="UKG">UKG UnikoinGold</option>
            <option value="ULA">ULA Ulatech</option>
            <option value="UNB">UNB UnbreakableCoin</option>
            <option value="UNITY">UNITY SuperNET</option>
            <option value="UNO">UNO Unobtanium</option>
            <option value="UNY">UNY Unity-Ingot</option>
            <option value="UP">UP UpToken</option>
            <option value="URO">URO Uro</option>
            <option value="USDT">USDT Tether</option>
            <option value="UTK">UTK UTrust</option>
            <option value="VEE">VEE BLOCKv</option>
            <option value="VEN">VEN VeChain</option>
            <option value="VERI">VERI Veritaseum</option>
            <option value="VIA">VIA Viacoin</option>
            <option value="VIB">VIB Viberate</option>
            <option value="VIBE">VIBE Vibe</option>
            <option value="VIVO">VIVO VIVO</option>
            <option value="VOISE">VOISE Voise</option>
            <option value="VOX">VOX Voxels</option>
            <option value="VPN">VPN VPNCoin</option>
            <option value="VRC">VRC Vericoin</option>
            <option value="VRM">VRM Verium</option>
            <option value="VRS">VRS Veros</option>
            <option value="VSL">VSL vSlice</option>
            <option value="VTC">VTC Vertcoin</option>
            <option value="VTR">VTR vTorrent</option>
            <option value="WABI">WABI WaBi</option>
            <option value="WAN">WAN Wanchain</option>
            <option value="WAVES">WAVES Waves</option>
            <option value="WAX">WAX Wax-Token</option>
            <option value="WCT">WCT Waves-Community</option>
            <option value="WDC">WDC WorldCoin</option>
            <option value="WGO">WGO WavesGo</option>
            <option value="WGR">WGR Wagerr</option>
            <option value="WINGS">WINGS Wings</option>
            <option value="WPR">WPR WePower</option>
            <option value="WTC">WTC Walton</option>
            <option value="WTT">WTT Giga-Watt-Token</option>
            <option value="XAS">XAS Asch</option>
            <option value="XAUR">XAUR Xaurum</option>
            <option value="XBC">XBC Bitcoin-Plus</option>
            <option value="XBY">XBY XtraBYtes</option>
            <option value="XCN">XCN Cryptonite</option>
            <option value="XCP">XCP Counterparty</option>
            <option value="XDN">XDN DigitalNote</option>
            <option value="XEL">XEL Elastic</option>
            <option value="XEM">XEM NEM</option>
            <option value="XHV">XHV Haven-Protocol</option>
            <option value="XID">XID Sphere-Identity</option>
            <option value="XLM">XLM Stellar</option>
            <option value="XMG">XMG Magi</option>
            <option value="XMR">XMR Monero</option>
            <option value="XMT">XMT Metal</option>
            <option value="XMY">XMY Myriadcoin</option>
            <option value="XPM">XPM Primecoin</option>
            <option value="XRL">XRL Rialto</option>
            <option value="XRP">XRP Ripple</option>
            <option value="XSPEC">XSPEC Spectrecoin</option>
            <option value="XST">XST Stealthcoin</option>
            <option value="XTZ">XTZ Tezos</option>
            <option value="XUC">XUC Exchange-Union</option>
            <option value="XVC">XVC Vcash</option>
            <option value="XVG">XVG Verge</option>
            <option value="XWC">XWC WhiteCoin</option>
            <option value="XZC">XZC ZCoin</option>
            <option value="XZR">XZR ZrCoin</option>
            <option value="YEE">YEE Yee</option>
            <option value="YOYOW">YOYOW YOYOW</option>
            <option value="ZCC">ZCC ZcCoin</option>
            <option value="ZCL">ZCL Zclassic</option>
            <option value="ZCO">ZCO Zebi</option>
            <option value="ZEC">ZEC Zcash</option>
            <option value="ZEN">ZEN ZenCash</option>
            <option value="ZET">ZET Zetacoin</option>
            <option value="ZIL">ZIL Zilliqa</option>
            <option value="ZLA">ZLA Zilla</option>
            <option value="ZRX">ZRX 0x</option>
          </select>

          <select class="custom-select" name="exchange">
            <option selected="">Select Exchange Currency</option>
            <option value="AED">AED</option>
            <option value="AFN">AFN</option>
            <option value="ALL">ALL</option>
            <option value="AMD">AMD</option>
            <option value="ANG">ANG</option>
            <option value="AOA">AOA</option>
            <option value="ARS">ARS</option>
            <option value="AUD">AUD</option>
            <option value="AWG">AWG</option>
            <option value="AZN">AZN</option>
            <option value="BAM">BAM</option>
            <option value="BBD">BBD</option>
            <option value="BDT">BDT</option>
            <option value="BGN">BGN</option>
            <option value="BHD">BHD</option>
            <option value="BIF">BIF</option>
            <option value="BMD">BMD</option>
            <option value="BND">BND</option>
            <option value="BOB">BOB</option>
            <option value="BRL">BRL</option>
            <option value="BSD">BSD</option>
            <option value="BTN">BTN</option>
            <option value="BWP">BWP</option>
            <option value="BZD">BZD</option>
            <option value="CAD">CAD</option>
            <option value="CDF">CDF</option>
            <option value="CHF">CHF</option>
            <option value="CLF">CLF</option>
            <option value="CLP">CLP</option>
            <option value="CNH">CNH</option>
            <option value="CNY">CNY</option>
            <option value="COP">COP</option>
            <option value="CUP">CUP</option>
            <option value="CVE">CVE</option>
            <option value="CZK">CZK</option>
            <option value="DJF">DJF</option>
            <option value="DKK">DKK</option>
            <option value="DOP">DOP</option>
            <option value="DZD">DZD</option>
            <option value="EGP">EGP</option>
            <option value="ERN">ERN</option>
            <option value="ETB">ETB</option>
            <option value="EUR">EUR</option>
            <option value="FJD">FJD</option>
            <option value="FKP">FKP</option>
            <option value="GBP">GBP</option>
            <option value="GEL">GEL</option>
            <option value="GHS">GHS</option>
            <option value="GIP">GIP</option>
            <option value="GMD">GMD</option>
            <option value="GNF">GNF</option>
            <option value="GTQ">GTQ</option>
            <option value="GYD">GYD</option>
            <option value="HKD">HKD</option>
            <option value="HNL">HNL</option>
            <option value="HRK">HRK</option>
            <option value="HTG">HTG</option>
            <option value="HUF">HUF</option>
            <option value="IDR">IDR</option>
            <option value="ILS">ILS</option>
            <option value="INR">INR</option>
            <option value="IQD">IQD</option>
            <option value="IRR">IRR</option>
            <option value="ISK">ISK</option>
            <option value="JEP">JEP</option>
            <option value="JMD">JMD</option>
            <option value="JOD">JOD</option>
            <option value="JPY">JPY</option>
            <option value="KES">KES</option>
            <option value="KGS">KGS</option>
            <option value="KHR">KHR</option>
            <option value="KMF">KMF</option>
            <option value="KPW">KPW</option>
            <option value="KRW">KRW</option>
            <option value="KWD">KWD</option>
            <option value="KYD">KYD</option>
            <option value="KZT">KZT</option>
            <option value="LAK">LAK</option>
            <option value="LBP">LBP</option>
            <option value="LKR">LKR</option>
            <option value="LRD">LRD</option>
            <option value="LSL">LSL</option>
            <option value="LYD">LYD</option>
            <option value="MAD">MAD</option>
            <option value="MDL">MDL</option>
            <option value="MGA">MGA</option>
            <option value="MKD">MKD</option>
            <option value="MMK">MMK</option>
            <option value="MNT">MNT</option>
            <option value="MOP">MOP</option>
            <option value="MRO">MRO</option>
            <option value="MRU">MRU</option>
            <option value="MUR">MUR</option>
            <option value="MVR">MVR</option>
            <option value="MWK">MWK</option>
            <option value="MXN">MXN</option>
            <option value="MYR">MYR</option>
            <option value="MZN">MZN</option>
            <option value="NAD">NAD</option>
            <option value="NGN">NGN</option>
            <option value="NOK">NOK</option>
            <option value="NPR">NPR</option>
            <option value="NZD">NZD</option>
            <option value="OMR">OMR</option>
            <option value="PAB">PAB</option>
            <option value="PEN">PEN</option>
            <option value="PGK">PGK</option>
            <option value="PHP">PHP</option>
            <option value="PKR">PKR</option>
            <option value="PLN">PLN</option>
            <option value="PYG">PYG</option>
            <option value="QAR">QAR</option>
            <option value="RON">RON</option>
            <option value="RSD">RSD</option>
            <option value="RUB">RUB</option>
            <option value="RUR">RUR</option>
            <option value="RWF">RWF</option>
            <option value="SAR">SAR</option>
            <option value="SBDf">SBDf</option>
            <option value="SCR">SCR</option>
            <option value="SDG">SDG</option>
            <option value="SEK">SEK</option>
            <option value="SGD">SGD</option>
            <option value="SHP">SHP</option>
            <option value="SLL">SLL</option>
            <option value="SOS">SOS</option>
            <option value="SRD">SRD</option>
            <option value="SYP">SYP</option>
            <option value="SZL">SZL</option>
            <option value="THB">THB</option>
            <option value="TJS">TJS</option>
            <option value="TMT">TMT</option>
            <option value="TND">TND</option>
            <option value="TOP">TOP</option>
            <option value="TRY">TRY</option>
            <option value="TTD">TTD</option>
            <option value="TWD">TWD</option>
            <option value="TZS">TZS</option>
            <option value="UAH">UAH</option>
            <option value="UGX">UGX</option>
            <option value="USD">USD</option>
            <option value="UYU">UYU</option>
            <option value="UZS">UZS</option>
            <option value="VND">VND</option>
            <option value="VUV">VUV</option>
            <option value="WST">WST</option>
            <option value="XAF">XAF</option>
            <option value="XAG">XAG</option>
            <option value="XAU">XAU</option>
            <option value="XCD">XCD</option>
            <option value="XDR">XDR</option>
            <option value="XOF">XOF</option>
            <option value="XPF">XPF</option>
            <option value="YER">YER</option>
            <option value="ZAR">ZAR</option>
            <option value="ZMW">ZMW</option>
            <option value="ZWL">ZWL</option>
          </select>

          <input type="submit" />
        </div>
      </form>
      <p class="text-primary">Search Crypto...</p>
    </div>
  </body>
</html>
